body {
    background-color: antiquewhite;
}

#socialLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#socialLinks h3 {
    border-bottom: 1px solid black;
    text-align: center;
}

#socialLinks i {
    font-size: 82px;
}

footer {
    text-align: center;
}